.meal-container{
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    gap: 50px;
    padding: 30px;
    position: relative;
}
@media screen and (min-width:200px) and (max-width:967px){
    .meal-container{
        padding: 100px 0;
        height: auto;
        flex-direction: column;
    }
    .meal-container img{
        width: 100%;
    }
}
.meal-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.meal-info h1{
    color: var(--main-color);
}
.meal-info p{
    line-height: 32px;
}
.food-card-backer{
    position: absolute;
    bottom:2%;
    right: 0%;
}
.food-card-backer span{
    display: block;
    background-color: var(--main-color);
    padding: 10px 30px;
    border-radius: 5px;
}