#footer{
  background-color: var(--dark-main-color);
}
#footer *{
  color: var(--white-color);
}
.footer-content {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 200px;
  flex-wrap: wrap;
  padding: 50px 0;
}
.footer-content .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;

}
.footer-content .footer-contact .footer-social-links {
  display: flex;
  gap: 50px;
}
.footer-content .footer-contact .footer-social-links span {
  width: 45px;
  height: 45px;
  background-color: var(--text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-content .footer-contact .footer-social-links span:hover {
  background-color: var(--white-color);
}
.footer-content .addition-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-content .addition-info button {
  border: 0;
  outline: 0;
  background-color: var(--text-color);
  color: var(--main-color) !important;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 30px;
}
.footer-content .addition-info button:hover {
  background-color: var(--white-color);
  color: var(--text-color);
}
